
feature_extraction/smile\.log

classification/\.ipynb_checkpoints/

regression/\.ipynb_checkpoints/

exploratory_analysis/\.ipynb_checkpoints/

data/extracted_features/eGeMAPSv01a_semispontaneous_splitted_distorted\.csv

classification/__pycache__/

data/extracted_features/eGeMAPSv01a_stimuli_splitted_degraded\.csv

data/extracted_features/eGeMAPSv01a_stimuli_splitted_distorted\.csv

data/extracted_features/eGeMAPSv01a_stimuli_splitted\.csv

regression/__pycache__/

classification/figures/

regression/figures/
doc/Talk_overview_myPhD_myPostdoc_March2018/talk_notes\.aux

doc/Talk_overview_myPhD_myPostdoc_March2018/talk_notes\.log

doc/Talk_overview_myPhD_myPostdoc_March2018/talk_notes\.synctex\.gz
